:root {
    --color-body: #FDF6EE;
    --color-heading: #FF5F00;
    --color-p: #51512B;
    --color-secondary: #fff;
    --color-btn-primary: #FF5F00;
    --color-btn-secondary: #257886;
}

body {
    background-color: var(--color-body);
}

header {
    background-color: var(--color-secondary);
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    margin-bottom: 32px;
    position: relative;
    max-width: 100%;
    z-index: 10;
}

.logo {
    width: 180px;
    height: auto;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

a {
    font-family: "Roboto", sans-serif;
    color: var(--color-p);
    text-decoration: none;
}

.section{
    background-color: var(--color-secondary);
    padding: 24px;
}

h1{
    font-size: 48px;
    font-family: "roboto", sans-serif;
    font-weight: 900;
    color: var(--color-heading);
}

p{
    font-size: 14px;
    font-family: "roboto", sans-serif;
    color: var(--color-p);
    margin: 24px 0px;
}

ul {
    padding: 0%;
    display: flex;
    gap: 1.5rem;
}

.btn-primary{
    border: none;
    font-size: 19px;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-btn-primary);
    padding: 13px 24px 11px;
    border-radius: 23px;
    cursor: pointer;
}

.btn-secondary{
    border: none;
    font-size: 16px;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    color: var(--color-btn-secondary);
    background-color: #fff;

}