:root {
    --color-body: #FDF6EE;
    --color-heading: #FF5F00;
    --color-p: #51512B;
    --color-secondary: #fff;
    --color-button: #FF5F00;
}

body {
    background-color: var(--color-body);
}

header {
    background-color: var(--color-secondary);
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    margin-bottom: 3rem;
    position: relative;
    max-width: 100%;
    z-index: 10;
}

.logo {
    width: 180px;
    height: auto;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

a {
    font-family: "Roboto", sans-serif;
    color: var(--color-p);
    text-decoration: none;
}